#signal {
    height: 36px;
    background-color: #313131;

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    color: white;

    font-size: 12px;

}

#signal_left {
    flex: 1;
    height: 36px;

    display: flex;
    flex-flow: row;
    align-items: center;
}

#signal_center{
    width: 50px;
    height: 36px;
}

#signal_right {
    flex: 1;
    height: 36px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}







#signal_area {
    width: 40px;
    height: 16px;
    display: flex;
    align-items: flex-end;
    margin-left: 4px;


}

#signal_area div {

    width: 3px;

    margin-left: 4px;
    border-radius: 1px;
}
#signal_area div:nth-child(1) {
    height: 6px;
}
#signal_area div:nth-child(2) {
    height: 9px;
}
#signal_area div:nth-child(3) {
    height: 11px;
}
#signal_area div:nth-child(4) {
     height: 15px;
 }

.signal-ok {
    background-color: white;
}

.signal-lose {
    background-color: grey;
}


#operation {
    height: 16px;
}
#xg {
    margin-left: 4px;
    height: 16px;
}


#battery_area {
    height: 36px;
    width: 70px;
    margin-right: 4px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#battery_body {
    height: 12px;
    width: 32px;
    border: white 1px solid;
    border-radius: 1px;
}

#battery_header {
    height: 6px;
    width: 2px;
    background-color: white;

    border-radius: 0 1px 1px 0;
}

#battery_core {
    height: 10px;
    width: 16px;
    background-color: red;
    margin: 1px;

    animation: charge 5s linear infinite;
}


@keyframes charge {
    0% {
        background-color: red;
        width: 1px;
    }

    20% {
        background-color: yellow;
        width: 7px;
    }

    80% {
        background-color: green;
        width : 26px;
    }
    100% {
        background-color: green;
        width : 30px;
    }
}



